.tab h2 {
    color: #FA7E31;
}

.tab h4 {
    color: #FF9F64;
}

.tab h5 {
    color: #828282;
    font-weight: bold;
}

.CadastroRecebimento {
    background-color: #FFCEB9;
    border-radius: 10px;
    border: 0.05em solid black;
    color: #A23E00;
    font-weight: 500;
    font-size: 1em;
    padding: 0.7em;
    width: 300px;
    cursor: pointer;
    font-family: "Arbutus Slab";
    margin-left: 2.5em;
    margin-top: 2em;
}

.CadastroRecebimento:hover {
    background-color: #efa585;
}