.BoxFormaRecebi {
    font-family: "Arbutus Slab";
    margin: 2em 4em;


}

.FormaRecebiH2 {
    padding: 0.5em;
    border-radius: 10px;
    color: #392100;
}

.nav {
    display: flex;
    margin-top: 1em;
    border-radius: 2px;
}

.nav li {
    list-style-type: none;
    font-family: "Arbutus Slab";
    margin-left: 1em;
    font-size: 1.5rem;
    cursor: pointer;
    border-bottom: 3px solid #d1d5db;
}

.nav li.active {
    color: #FA7E31;
    border-bottom: 3px solid #FA7E31;
}

/*Aqui a tag em que nela esta escrito "Pix" e "Transferência" muda de cor quando o tab especifíco dela está ativo */

.tab h4 {
    color: #FF9F64;
}

.tab h5 {
    color: #828282;
    font-weight: bold;
}