@import url('https://fonts.googleapis.com/css2?family=Alike&family=Arbutus+Slab&family=Belanosima:wght@400;600;700&family=Berkshire+Swash&family=Gabriela&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* RESET */

html,
body,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Arbutus Slab", serif;
}

/* TÍTULO */
.titulo {
  text-align: center;
  color: #fa8006;
  font-family: "Gabriela", serif;
  font-size: 32px;
  margin: 28px 0;
}

/* GRID */
.produtos-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: flex-start;
  align-items: flex-start;
}

/* CARD PRODUTO */
.card-produto {
  width: 216px;
  height: 285px;
  background: #FF9C72;
  border-radius: 20px;
  padding: 16px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.card-produto:hover { 
  transform: translateY(-5px);
}

.card-produto h4{
  margin: 4px 0;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.card-produto p {
  margin: 2px 0;
  font-size: 16px;
  font-weight: bold;
}

.img-produto {
  width: 100%;        /* Ocupa a largura interna disponível do card */
  height: 120px;      /* Altura fixa boa para a imagem do suco/salgado */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border-radius: 12px;
  margin-bottom: 4px;
}

/* CONTROLE */
.controle {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 8px 0;
}

.controle button {
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  font-weight: bold;
}

/* BOTÕES */
.btn {
  background: #eee;
  border: none;
  padding: 8px 15px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  font-size: 14px;
}

.btn:hover {
  transform: scale(1.03);
}

.btn-comprar {
  background: #ff6b2c;
  color: white;
  border: none;
  padding: 10px 22px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bold;
}

/* BOTÃO DO CARD (HOME) */

.btn-card{

  width:128.46px;

  height:30.17px;

  border:none;

  border-radius:8.03px;

  background:#FFFFFF;

  color:#111;

  font-family:Belanosima, serif;

  font-size:15.57px;

  font-weight:600;

  cursor:pointer;

  display:flex;

  justify-content:center;

  align-items:center;

  box-shadow:0 2px 5px rgba(0,0,0,.25);

  transition:.2s;

}

.btn-card:hover{

  transform:translateY(-1px);

}

/* CATEGORIA */
.categoria {
  background: #FFE7D2;
  padding: 10px 20px;
  font-size: 28px;
  color: #F5670E;
  font-family: "Arbutus Slab", serif;
}

/* ========================= */
/* DETALHE PRODUTO */
/* ========================= */


/* ========================= */
/* DETALHE PRODUTO */
/* ========================= */

.detalhe-box{
    display:flex;
    align-items:flex-start;
    justify-content:space-between;

    width:100%;
    max-width:1800px;

    margin:0 auto 50px;
    padding:25px;

    background:#F8E2CC;
    border-radius:10px;

    box-sizing:border-box;
    gap:45px;
}

/* FOTO */

.detalhe-imagem{
    width:470px;
    height:450px;

    background:white;

    border-radius:10px;

    display:flex;
    justify-content:center;
    align-items:center;

    flex-shrink:0;
}

.detalhe-imagem img{
    width:82%;
    height:82%;
    object-fit:contain;
}

/* LADO DIREITO */

.detalhe-info{
    flex:1;

    display:flex;
    flex-direction:column;

    margin-top:-10px;
}

/* NOME + FAVORITO */

.topo-detalhe{

    display:flex;

    justify-content:space-between;

    align-items:flex-start;

    margin-bottom:2px;

}

.topo-detalhe h1{

    margin:-80;

    font-size:58px;

    font-family:"Belanosima", serif;

    font-weight:600;

    color:#000;

}

.btn-favorito{

    border:none;

    background:transparent;

    font-size:46px;

    cursor:pointer;

    color:#222;

}

/* PREÇO */

.preco-detalhe{

    margin:15px 270px 30px;

    font-family:"Arbutus Slab", serif;

    font-size:64px;

    color:#FF8000;

    font-weight:normal;

}

/* BOTÕES */

.botoes-detalhe{

    display:flex;

    gap:55px;

    margin-bottom:18px;

}

.btn-detalhe{

    width:329px;

    height:66px;
    margin-left:150px;
    border:none;

    border-radius:12px;

    background:white;

    font-size:20px;

    font-family:"Arbutus Slab", serif;

    font-weight:bold;

    cursor:pointer;

    box-shadow:0 4px 8px rgba(0,0,0,.18);

    transition:.2s;

}

.btn-detalhe:hover{

    transform:translateY(-2px);

}

.btn-comprar{

    width:233px;

    height:60px;

    margin-left:100px;

    border:none;

    border-radius:12px;

    background:#F5670E;

    color:white;

    font-size:22px;

    font-family:"Arbutus Slab", serif;

    cursor:pointer;

    box-shadow:0 4px 8px rgba(0,0,0,.18);

    transition:.2s;

}

.btn-comprar:hover{

    background:#eb6d12;

}

/* TÍTULOS */

.titulo-detalhe,
.titulo-observacao{

    margin:0px 0 10px;

    font-size:26px;

    font-family:"Gabriela", serif;

    color:#111;

}

/* DESCRIÇÃO */

.descricao-produto{

    margin:0 0 24px;

    font-size:18px;

    line-height:1.35;

    max-width:720px;

    font-family:"Belanosima";

}

/* OBSERVAÇÃO */

.input-observacao{

    width:100%;

    max-width:760px;

    height:70px;

    border:1px solid #999;

    border-radius:10px;

    background:white;

    resize:none;

    padding:16px;

    box-sizing:border-box;

    font-size:18px;

    font-family:Arial, Helvetica, sans-serif;

}

.input-observacao:focus{

    outline:none;

    border-color:#F47A00;

}
/* MEUS PEDIDOS */
.pagina-meus-pedidos {
  min-height: 100vh;
  background: #ececec;
}

.titulo-meus-pedidos {
  text-align: center;
  color: #ef7423;
  font-size: 42px;
  margin-top: 35px;
  margin-bottom: 60px;
  font-family: "Gabriela", serif;
}

.cabecalho-pedidos {
  width: 78%;
  margin: 0 auto 10px;
  display: flex;
  justify-content: flex-end;
  gap: 130px;
}

.cabecalho-pedidos span {
  color: #7c4a13;
  font-size: 20px;
}

.lista-meus-pedidos {
  width: 78%;
  margin: 0 auto;
}

.linha-pedido {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 28px 0;
  border-bottom: 1px solid #999;
}

.pedido-numero {
  font-size: 34px;
}

.pedido-status-texto {
  color: green;
  font-size: 24px;
}

.pedido-valor {
  color: #ef7423;
  font-size: 24px;
}

.sem-pedidos {
  text-align: center;
  font-size: 26px;
  margin-top: 60px;
  color: #555;
}

/* TELA CARTÃO */
.container-cartao {
  width: 100%;
  padding-left: 140px;
  padding-top: 30px;
}

.btn-voltar {
  background: none;
  border: none;
  color: #f28c28;
  font-size: 55px;
  cursor: pointer;
}

.topo-cartao {
  display: flex;
  align-items: center;
  gap: 10px;
}

.form-cartao {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.campo-cartao {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.campo-cartao input {
  width: 360px;
  height: 28px;
  border: none;
  border-radius: 6px;
  background: #ddd;
  padding: 8px 12px;
}

.linha-cartao {
  display: flex;
  gap: 90px;
}

.pequeno input {
  width: 160px;
}

.btn-adicionar-cartao {
  width: fit-content;
  background: #f28c28;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 22px;
  cursor: pointer;
}

/* RESPONSIVO */
@media (max-width: 900px) {
  .detalhe-box {
    flex-direction: column;
    align-items: center;
  }

  .imagem-produto {
    width: 100%;
    max-width: 350px;
  }
}

@media (max-width: 700px) {
  .container-cartao {
    padding-left: 25px;
    padding-right: 25px;
  }

  .linha-cartao {
    flex-direction: column;
    gap: 28px;
  }

  .campo-cartao input {
    width: 100%;
    box-sizing: border-box;
  }
}

/* ===================================== */
/* FEEDBACK */
/* ===================================== */

.feedback-container {
  width: 100%;
  padding: 45px 0 60px;
}

.feedback-titulo {
  margin-left: 85px;
  margin-bottom: 18px;
  font-size: 28px;
  font-family: "Belanosima", serif;
  color: black;
}

.feedback-box {
  width: calc(100% - 170px);
  height: 180px;
  margin: 0 auto;
  background: #d3d3d3;
  border-radius: 8px;
  padding: 20px;
  box-sizing: border-box;
}

.feedback-box-visualizacao {

  width: calc(100% - 20px);

  margin: 0 auto;

  background: #D57541;

  border-radius: 8px;

  padding: 28px;

  box-sizing: border-box;

  min-height: 180px;

}

.feedback-textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  outline: none;
  background: transparent;
  font-size: 22px;
  font-family: Georgia, serif;
  color: black;
}

.feedback-textarea::placeholder {
  color: #666;
}

.btn-feedback {
  margin-left: 85px;
  margin-top: 22px;
  background: #efb25d;
  color: #4a2400;
  border: none;
  border-radius: 12px;
  padding: 14px 34px;
  font-size: 26px;
  font-family: Georgia, serif;
  cursor: pointer;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: 0.2s;
}

.btn-feedback:hover {
  transform: scale(1.03);
  background: #e8a94d;
}

.feedback-data {

  font-size: 18px;

  color: white;

  font-family: Georgia, serif;

  margin-bottom: 20px;

  margin-left: 40px;

}

.feedback-comentario {

  color: #000000;

  font-size: 22px;

  margin-left: 40px;

  line-height: 1.8;

  font-family: Alike, serif;

}